<h1>Battle</h1>
<h2>Sign in to play!<h2>
<form action="/names" method="post">
  <label for="Player One">
    Player One
    <input type="text" name="Player1" value=": enter name here ">
  </label>
  <label for="Player Two">
    Player Two
    <input type="text" name="Player2" value=": enter name here ">
  </label>
  <input type="submit" value="Submit">
</form>
