<%= $player1 if $player1 %> Vs. <%= $player2 if $player2 %>
<br>
Player 2 has 10 Hit Points
<br>
<form action="/attack" method="get">
  <label for="attack">
    Attack player 2
    <input type="submit" value="attack!">
  </label>
</form>

<%= 'You hit player 2!' if session["attackconfim"] %>
